*.exe
*.msi
*.lnk
*.log
QITools-karl.ini
*.zip

# VS stuff
*.suo
*.user
*.userosscache
*.sln.docstates
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
*.wixproj.BindContentsFileListnull.txt
